
.theme-customize-header-section {
    &__header {
        padding-top: $size100;

        &__title {
            color: $textGreen;
            font-size: $font-size30;
            margin-bottom: $size1_5;
            font-family: $iCiel-SamsungSharpSans-Bold_SMCPS;
        }

        &__des {

            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            span {
                display: inline-block;
                width: 80%;

                @media (max-width: 768px) {
                    margin-bottom: $size0_625;
                }
            }
        }
        p {
            font-size: $font-size20;
        }
    }

    &__tabs {

        &__list {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding-left: 0;

            .__tabs__item {
                margin-right: $size1_5625;
                padding-bottom: $size0_5;
                margin-top: $size1;
                .__tabs__link {
                    text-decoration: none;
                    font-weight: bold;
                    color: $textNight;
                    font-size: $font-size20;
                }
            }

            .__tabs__item.active {
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: $size0_063;
                    background-color: $backgroundGreen;
                }

                .__tabs__link {
                    color: $textGreen;
                }
            }
        }
    }
} 

form#CheckoutForm {
    div.error-validate {
        color: #ac2b31;
        margin-bottom: 10px;
        margin-top: -20px;
    }
    .ui.input > input {
        margin: 0;
        max-width: 100%;
        padding: .67857143em 1em;
        color: rgba(0,0,0,.87);
        border-radius: .28571429rem;
        width: 100%;
        border: 1px solid #85b7d9;
        &::placeholder {
            font-weight: 200;
            color: rgba(0, 0, 0, 0.8);
        }
        &:focus-visible {
            outline: none;
            border: 1px solid #85b7d9;
        }
    }
    .ui.dropdown {
        border: 1px solid #85b7d9;
        .default.text {
            color: rgba(0,0,0,.8);
        }
    }
    .input-file-trigger {
        margin-bottom: 0px;
        padding: .67857143em 1em;
        width: 100%;
        border: 1px solid #85b7d9;
        background: #fff;
        color: rgba(0,0,0,.8);
        border-radius: .28571429rem;
    }
    p.file-return {
        color: #2b63ac;
        margin-top: 0px;
        margin-bottom: 1rem;
    }
    textarea {
        width: 100%;
        padding: .67857143em 1em;
        border: 1px solid #85b7d9;
        background: #fff;
        color: rgba(0,0,0,.8);
        border-radius: .28571429rem;
        &:focus {
            box-shadow: unset;
        }
    }
}

.section-banner-wrapper {
    background-color: $backgroundf3f3f3;
    
    .section-banner {

        .theme-customize-header-section {
            &__header {
                padding-top: $size3_75;
                padding-bottom: $size1_5;

                @media (max-width: 768px) {
                    padding-top: $size2_75;
                    padding-bottom: $size0_5;
                }

                &__title {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.box-common-many-col-wrapper {

    .box-common-many-col {

        &__list {
            padding-left: 0;
            margin-left: -#{$size0_9375};
            margin-right: -#{$size0_9375};
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            &__item {
                margin-top: $font-size30;
                transition: box-shadow,transform 400ms;

                &:hover {
                    box-shadow: 0 0 18px rgb(0 0 0 / 20%);
                    transform: scale(1.04) !important;
                    border-radius: 5px;
                    padding: 1rem;

                    .title-parent {
                        color: $textGreen;
                    }

                    .des-children {
                        margin-bottom: 0;
                    }
                }

                @media (max-width: 567px){
                    margin-top: $size0_6875;
                }

                .title-parent {
                    font-size: $font-size20;
                    margin-bottom: 1rem;
                    display: inline-block;
                }

                .des-children {
                    font-size: $font-size17;
                }
            }
        }

        &__picture {
            width: 100%;
            margin-top: $font-size20;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        &__picture.bg-image {
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.box-common-typeicalproject-carousel-wrapper {
    
    .box-common-typeicalproject-carousel {
        padding-bottom: $size6;

        .splide {
           &__slide {
               display: flex;
               flex-wrap: wrap;

                &__img {
                    width: 100%;
                    overflow: hidden;
                    &:hover {
                        img {
                            transform: scale(1.05);
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        transition: transform 400ms;
                    }
                }

                &__content {
                    padding: 15px;
                    width: 100%;

                    &__title {
                        font-size: $font-size20;
                        
                        a {
                            color: $textNight;
                            text-decoration: none;

                            &:hover {
                                font-weight: bold;
                            }
                        }
                    }

                    &__des {
                        font-size: $font-size17;
                        transition: transform 400ms;

                        &:hover {
                            transform: scale(1.05);
                            cursor: pointer;
                        }
                    }

                    &:hover {
                        background-color: $backgroundGreen;
                        color: $textWhite;
                        a {
                            color: $textWhite;
                        }
                    }
                }
           } 

            &__list {
                    >li:nth-child(odd) {
                        border-bottom: 2px solid $borderf3f3f3;
                    }

                    >li:nth-child(even) {
                        border-top: 2px solid $borderf3f3f3;

                        > .splide__slide__img {
                            order: 2;
                        }

                        > .splide__slide__content {
                            order: 1;
                        }
                    }
            }

            &__pagination {
                bottom: -45px;

                    &__page {
                        background: $backgroundWhite;
                        border: 2px solid $borderGreen;
                    }

                    &__page.is-active{
                        background: $backgroundGreen;
                    }
            }

            &__arrows {
                display: none;
            }
        }
    }
}

.box-common-intro-wrapper {

    .title-underline strong {
        color: $textGreen;
        white-space: pre-line;
    }   

    .box-common-intro {
        position: relative;

        &__content {
            border-bottom: 1px solid $borderf3f3f3;
            height: 100%;
        }

        &__picture {
            position: relative;
            img {
                max-width: 200%;
            }
        }

        .position-relative {
            .box-common-intro__picture {
                @media(max-width: 767px) {
                    clip-path: circle(50% at 74% 24%);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0.2;
                }
            }
        }
        
        &__picture.video {
            &::before {
                content: "\f144";
                position: absolute;
                font-family: "Font Awesome 5 Pro";
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $textWhite;
                font-size: $font-size30;
            }
        }

        .last-position {
            >p:last-child {
                position: absolute;
                right: 40%;
                bottom: 0;
            }
        } 
    }

    .splide {
        &__arrows {
            position: absolute;
            bottom: $font-size20;
            left: $size1_5;
            display: none;
        }

        &__arrow {

        }

        &__pagination {
            bottom: $size1_5;

            &__page {
                background-color: transparent;
                border: 2px solid $backgroundWhite;
            }

            &__page.is-active{
                transform: scale(1.4);
                background: $backgroundWhite;
            }

            li {
                margin-right: $size0_5;
            }
        }

        &__slider {
            img {
                max-width: 100%;
            }
        }
    }
}

.box-common-showroom-wrapper {
    background-color: $backgroundf3f3f3;

    .box-common-showroom {

        &__content {

            .line__item {
                padding-top: $size1_5625;
                padding-bottom: $size1_5625;
                border-bottom: 1px solid $borderf3f3f3;

                .address {
                    position: relative;
                    padding-left: $size1_5625;
                    &::before {
                        position: absolute;
                        content: "\f3c5";
                        color: $textGreen;
                        font-family: "Font Awesome 5 Pro";
                        left: 0;
                        right: 0;
                        font-weight: bold;
                    }
                }
                .phone {
                    position: relative;
                    padding-left: $size1_5625;
                    &::before {
                        position: absolute;
                        content: "\f879";
                        font-weight: bold;
                        color: $textGreen;
                        font-family: "Font Awesome 5 Pro";
                        left: 0;
                        right: 0;
                    }
                }

                .phone.white, .address.white {
                    &::before {
                        color: $textWhite;
                    }
                }

                &:nth-child(1n + 4) {
                    display: none;
                }
            }

            .box__infoOther {
                margin-top: $size2_8125;
                padding: $size30;
                padding-top: 2.2rem;
                padding-bottom: 0;
                background-color: $backgroundGreen;
                color: $textWhite;
                height: calc(100% - #{$size2_8125});

                .address {
                    font-size: $font-size20;
                    color: $textWhite;

                    &::before {
                        color: $textWhite;
                    }
                }

                .phone {
                    font-size: $font-size17;

                    &::before {
                        color: $textWhite;
                    }
                }

                &__header {

                    &__des {
                        @include split_str(2);
                        font-size: $font-size17;
                    }
                }

                &__list {
                    >div{
                        border-bottom: 1px solid rgba($borderf3f3f3, $alpha0_2);
                    }
                    >div:first-child {
                        padding-top: 0;
                    }
                    >div:last-child {
                        border: none;
                    }
                }
            }
        }
    }
}

.box-common-producecapacity-wrapper {
    background-color: $backgroundf3f3f3;
    .box-common-producecapacity {

        &__list {
            padding-left: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0;

            &__item {
                position: relative;
                padding-top: $size0_625;
                margin-top: $size0_625;
                flex: 0 0 calc(50% - #{$size0_625});
                max-width: calc(50% - #{$size0_625});

                .title-parent {
                    font-size: $font-size20;
                }

                .des-children {
                    font-size: $font-size18;
                }
                
                &::before {
                    content: "";
                    position: absolute;
                    width: $size0_625;
                    height: $size0_125;
                    top: 0;
                    left: 0;
                }
                &:nth-child(1) {
                    &::before {
                        background-color: blue;
                    }
                }
                &:nth-child(2) {
                    &::before {
                        background-color: green;
                    }
                }
                &:nth-child(3) {
                    &::before {
                        background-color: red;
                    }
                }
                &:nth-child(4) {
                    &::before {
                        background-color: yellow;
                    }
                }

                &:nth-child(odd) {
                    margin-right: $size0_625
                }
                &:nth-child(even) {
                    margin-left: $size0_625
                }
            }
        }
    }
}

.box-common-statistics-wrapper {
    .box-common-statistics {
        background-color: $backgroundGreen;
        padding: $size3 $size100;
        padding-top: $size1_5;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__col {
            padding-top: $size1_5;

            .__col__up {
                font-size: $size30;
                color: $textWhite;
                font-family: $iCiel-SamsungSharpSans-Bold_SMCPS;
            }

            .__col__down {
                color: $text84cba5;
                max-width: 60%;
                font-size: $font-size18;
            }
        }
    }
}

.list-cate-pro {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;

    &__item {
        flex: 0 0 calc(50% - #{$size0_625});
        max-width: calc(50% - #{$size0_625});
        padding: $size0_625 0;
        border-top: 1px solid rgba($borderf3f3f3, $alpha0_2);
        position: relative;

        &:nth-child(1) {
            border-top: 0;
        }

        &:nth-child(2) {
            border-top: 0;
        }

        &:nth-child(odd) {
            margin-right: $size0_625;
        }
        &:nth-child(even) {
            margin-left: $size0_625;
        }

        &__link {
            color: rgba($textWhite, $alpha0_7);
            text-decoration: none;
            font-size: $font-size20;
            position: relative;
            transition: padding 200ms;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: $backgroundWhite;
                width: $size0_625;
                height: $size0_125;
                display: none;
                
            }

            &:hover {
                padding-left: $font-size20;
                color: $textWhite;

                &::before {
                    display: inline-block;
                }
            }

        }
    }                    
}

.line-border {
    width: 12%;
    height: 2px;
    background-color: $backgroundGreen;
   
    @media (min-width: 769px) {
        margin-top: $size2_5;
        margin-bottom: $size2_5;
        transform: translateX(-30%);
    }

    margin-top: $size1_5;
    margin-bottom: $size1_5;
}

.box__tabs {

    &__header {
        margin-right: $size2_5;
        font-size: $font-size20;

        .nav-link {
            background-color: transparent;
            border: none;
            font-weight: bold;
            font-size: $font-size20;
        }

        .nav-link.active {
            background-color: transparent;
            border-bottom: 2px solid $borderGreen;
            color: $textGreen;
        }
        
    }

    &__content {
        background-color: $backgroundWhite;
        padding-right: $font-size20;
        padding-left: $size2_5;
        padding-top: $size2_5;
        position: relative;

        .address {
            font-size: $font-size20;
        }

        .phone {
            font-size: $font-size17;
        }

        .btn-read-more, .btn-hidden {
            padding-right: $size0_9375;
            background-color: $backgroundGreen;
            color: $textWhite;
            text-decoration: none;
            font-size: $size1;
            position: absolute;
            right: $size0_9375;
            bottom: 0;
            height: $size2;
            line-height: $size2;
            transform: translateY(50%);

            &::before {
                position: absolute;
                content: '\f0d7';
                font-family: "Font Awesome 5 Pro";
                font-weight: bold;
                right: $size0_438;
                margin-left: $size0_625;
            }
        }

        .tab-pane {
            >div:first-child {
                padding-top: 0;
            }
        }
    }
}

.btn-read-more, .btn-hidden {
    color: $textNight;
    border: 1px solid $borderGreen;
    width: $size7_5;
    height: $size2_8125;
    line-height: $size2_6875;
    text-align: center;
    display: inline-block;

    &:hover {
        background-color: $backgroundGreen;
        color: $textWhite;
    }
}

.btn-read-more.green, .btn-hidden.green {
    &:hover {
        background-color: $backgroundWhite !important;
        color: $textGreen !important;
    }
}

.btn-read-more.white, .btn-hidden.white {
    &:hover {
        background-color: $backgroundGreen !important;
        color: $textWhite !important;
    }
}

/***
*************** Responsive
****/
.distance-below {
    padding-bottom: $size100;
}

.distance-above {
    padding-top: $size100;
}

.distance-y {
    padding-top: $size100;
    padding-bottom: $size100;
}
@mixin common-screen-minw1681() {
   
}
@mixin common-screen-maxw1680() {

}

@mixin common-screen-maxw992() {
    .theme-customize-header-section {
        &__header {
            padding-top: $size50;
            &__title {
                font-size: $font-size20root15;
                margin-bottom: $size1;
            }
        }
    }

    .distance-below {
        padding-bottom: $size50;
    }

    .distance-above {
        padding-top: $size50;
    }

    .distance-y {
        padding-top: $size50;
        padding-bottom: $size50;
    }
}

@mixin common-screen-maxw567() {
    .distance-below {
        padding-bottom: $size2;
    }

    .distance-above {
        padding-top: $size2;
    }

    .distance-y {
        padding-top: $size3;
        padding-bottom: $size3;
    }
    
    .theme-customize-header-section {
        &__header {
            padding-top: $size30;
        }
    }
}

///