
.hailongglass-header-section {
    &__header {
        padding-top: $size5;

        &__title {
            color: $textGreen;
            font-size: $size1_875;
            margin-bottom: $size1_5;
            font-weight: bold;
        }

        &__des {
            margin-bottom: 0;
            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            span {
                display: inline-block;
                width: 80%;

                @media (max-width: 768px) {
                    margin-bottom: $size0_625;
                }
            }
        }
    }

    &__tabs {

        &__list {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding-left: 0;

            .__tabs__item {
                margin-right: $size1_5625;
                padding-bottom: $size0_5;
                margin-top: $size1;
                .__tabs__link {
                    text-decoration: none;
                    color: $textNight;
                }
            }

            .__tabs__item.active {
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: $size0_063;
                    background-color: $backgroundGreen;
                }

                .__tabs__link {
                    color: $textGreen;
                }
            }
        }
    }
} 

.section-banner-wrapper {
    background-color: $backgroundf3f3f3;
    
    .section-banner {

        .hailongglass-header-section {
            &__header {
                padding-top: $size3_75;
                padding-bottom: $size1_5;

                @media (max-width: 768px) {
                    padding-top: $size2_75;
                    padding-bottom: $size0_5;
                }

                &__title {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.box-common-many-col-wrapper {

    .box-common-many-col {

        &__list {
            padding-left: 0;
            margin-left: -#{$size0_9375};
            margin-right: -#{$size0_9375};
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            &__item {
                margin-top: $size1_875;
                @media (max-width: 567px){
                    margin-top: $size0_6875;
                }
            }
        }

        &__picture {
            width: 100%;
            margin-top: $size1_25;

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}

.box-common-typeicalproject-carousel-wrapper {
    border-bottom: 2px solid $borderf3f3f3;
    
    .box-common-typeicalproject-carousel {
        padding-bottom: $size6;

        .splide {
           &__slide {
               display: flex;
               flex-wrap: wrap;

                &__img {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }

                &__content {
                    padding: 15px;
                    width: 100%;

                    &__title {
                        font-size: 18px;
                        
                        a {
                            color: $textNight;
                            text-decoration: none;

                            &:hover {
                                font-weight: bold;
                            }
                        }
                    }

                    &__des {

                    }
                }
           } 

            &__list {
                    >li:nth-child(3n + 1) {
                        border-bottom: 2px solid $borderf3f3f3;
                    }

                    >li:nth-child(3n + 2) {
                        border-top: 2px solid $borderf3f3f3;

                        > .splide__slide__img {
                            order: 2;
                        }

                        > .splide__slide__content {
                            order: 1;
                        }
                    }

                    >li:nth-child(3n + 3) {
                        > .splide__slide__content {
                            background-color: $backgroundGreen;
                            color: $textWhite;
                            a {
                                color: $textWhite;
                            }
                        }
                    }
            }

            &__pagination {
                bottom: -45px;

                    &__page {
                        background-color: transparent;
                        border: 2px solid $borderGreen;
                    }

                    &__page.is-active{
                        background: $backgroundGreen;
                    }
            }

            &__arrows {
                display: none;
            }
        }
    }
}

.btn-read-more {
    color: $textNight;
    border: 1px solid $borderGreen;
    width: $size6_25;
    height: $size2_1875;
    line-height: $size2_1875;
    text-align: center;
    display: inline-block;
}

/***
*************** Responsive
****/
@mixin common-screen-minw1600() {
    .distance-below {
        padding-bottom: $size5;
    }
}
@mixin common-screen-maxw1600() {
    .distance-below {
        padding-bottom: $size3;
    }

    .hailongglass-header-section {
        &__header {
            padding-top: $size3;
        }
    }
}

@mixin common-screen-maxw567() {
    .distance-below {
        padding-bottom: $size2;
    }
    
    .hailongglass-header-section {
        &__header {
            padding-top: $size2;
        }
    }
}