

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

@media (min-width: 1600px) {
    html, body {
        font-size: 20px;
    }
}

.container-customize:not(.important) {
    max-width: 1920px;
    padding-left: 8%;
    padding-right: 8%;
}
.container-customize.important {
    max-width: 1920px;
    padding-left: 8% !important;
    padding-right: 8% !important;
}
