footer {

    .footer-wrapper {
       .footer {
            &__top {
                padding-top: $size3_75;
                padding-bottom: $size3_75;

                .footer__col {
                    &__title {
                        font-size: $size1;
                    }

                    &__list {
                        list-style: none;
                        padding-left: 0;

                        li {

                            a {
                                text-decoration: none;
                                color: $textNight;
                            }
                            margin-bottom: $size0_625;
                        }
                    }
                }
            }

            &__bottom {
                p {
                    text-align: center;
                }
            }
       }
    }
}