
header {
    margin-top: $size4;
    @media(max-width: 768px) {
        margin-top: 15px;
    }
    nav {
    
        .navbar-collapse {
            .nav-item {
                .nav-link {
                    text-decoration: none;
                    color: $textNight;
                    padding-left: $size1;
                    padding-right: $size1; 
                }
            }

            .nav-item.active {
                .nav-link {
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: $size1;
                    margin-right: $size1; 
                    border-bottom: 2px solid $borderGreen;
                }
            }

            .bilingual {
                margin: auto 0;

                a{
                    padding: $size0_625 $size0_9375;
                    border: 1px solid $backgroundGreen;
                    color: $textNight;
                    display: inline-block;
                }
                >a:first-child{
                    margin-right: -5px;
                }

                a.active { 
                    background-color: $backgroundGreen;
                    color: $textWhite;
                    text-decoration: none;
                }

            }
        }

        .navbar-collapse.show {
            background-color: $backgroundGreen;
            
            .nav-item {
                .nav-link{
                    color: $textWhite !important;
                }
            }

            .nav-item.active {
                .nav-link {
                    border-bottom: 2px solid $borderf3f3f3;
                }
            }

            .bilingual {
                margin-top: $size0_5;
                border: 1px solid $borderf3f3f3;
                width: max-content;
                a:not(.active) {
                    color: $textWhite;
                }
                a.active {
                    background-color: $backgroundWhite;
                    color: $textGreen !important;
                }
            }
        }
    }
}


    /***
*************** Responsive
****/
//screen min-width 1200
@mixin header-screen-minw1200() {
    @media (min-width: 1200px) {
      
    }
}

//screen max-width 1200
@mixin index-screen-maxw1200() {
    @media (max-width: 1200px) {
        
    }
}

//screen max-width 992
@mixin index-screen-maxw992() {
    @media (max-width: 992px) {

    }
}

//screen max-width 768
@mixin index-screen-maxw768() {
    @media (max-width: 768px) {
        
    }
}

//screen max-width 567
@mixin index-screen-maxw567() {
    @media (max-width: 567px) {
        
    }
}
