
header {
    margin-top: 100px;
    nav {
    
        .navbar-collapse {
            .nav-item {
                .nav-link {
                    text-decoration: none;
                    color: $textNight;
                    padding-left: $size1;
                    padding-right: $size1; 
                }
            }

            .nav-item.active {
                .nav-link {
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: $size1;
                    margin-right: $size1; 
                    border-bottom: 2px solid $textGreen;
                }
            }

            .bilingual {
                margin: auto 0;

                a{
                    padding: 10px;
                    border: 1px solid $backgroundGreen;
                    color: $textNight;
                }

                a.active { 
                    background-color: $backgroundGreen;
                    color: $textWhite;
                    text-decoration: none;
                }

            }
        }
    }
}

.link-hailongglass {
    .box-symbol {

        &__one {
            position: relative;

            .__one__box {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 60px;
                width: 45px;
                color: $textWhite;
                background-color: $backgroundGreen;
                z-index: -1;
            }
        }

        &__two {
            position: relative;
            padding-left: 40px;
            margin-left: 15px;
            
            .__two__box {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 60px;
                width: 35px;
                border: 7px solid $backgroundGreen;
            }
        }
    }

    
    .core-title {
        font-size: $size1_1875;
        text-transform: uppercase;
        color: $textGreen;
    }
    span{
        font-size: $size1_25;
    }
}

    /***
*************** Responsive
****/
//screen min-width 1200
@mixin header-screen-minw1200() {
    @media (min-width: 1200px) {
      
    }
}

//screen max-width 1200
@mixin index-screen-maxw1200() {
    @media (max-width: 1200px) {
        
    }
}

//screen max-width 992
@mixin index-screen-maxw992() {
    @media (max-width: 992px) {

    }
}

//screen max-width 768
@mixin index-screen-maxw768() {
    @media (max-width: 768px) {
        
    }
}

//screen max-width 567
@mixin index-screen-maxw567() {
    @media (max-width: 567px) {
        
    }
}
