.pagination_style {
    margin: $size1_625 0 $size3_125 0;
    .pagination {
        flex-wrap: wrap;
        li {
            margin: $size0_625 $size0_25;
            &:first-child {
                margin-left: -$size0_25;
            }
        }
        .page-item.active .page-link {
            background-color: $mainColor;
            color: $white;
            border-top-left-radius: 0rem;
            border-bottom-left-radius: 0rem;
        }
        .page-item a,
        .page-item span {
            width: $size3_125;
            height: $size3_125;
            color: $night;
            text-align: center;
            line-height: $size3_125;
            padding: 0;
            display: inline-block;
            font-weight: bold;
            box-shadow: 0px 0px 1px 2px rgb(212, 198, 198);
            cursor: pointer;
        }
        // .page-item.disabled {
        //     a,
        //     span {
        //         cursor: not-allowed;
        //     }
        // }
        .page-link {
            &:focus {
                border: none;
            }
            border: unset;
            &:hover {
                background-color: $mainColor;
                color: $white;
                transition: 0.5s ease;
            }
        }
        .page-item {
            padding: 0 $size0_25;
        }
        .page-link-last {
            box-shadow: 0px 0px 1px 2px rgb(212, 198, 198);
            width: 110px;
            height: $size3_125;
            line-height: $size3_125;
            color: $white;
            font-size: $size1;
            font-weight: bold;
            text-align: center;
            &:hover {
                background-color: $mainColor;
                opacity: 1;
                a {
                    color: $white;
                    transition: 0.5s ease;
                }
            }
            a,
            span {
                color: $night;
                padding: $size1_0625 0;
                width: 100%;
                line-height: $size1_25;
            }
        }
        // .page-link-last.disabled {
        //     background-color: #ccc;
        //     opacity: 30%;
        //     cursor: not-allowed;
        // }
    }
}

@media screen and (max-width:576px) {
    .pagination_style {
        .pagination {
            .page-item span {
                width: $size2;
                height: $size2;
                line-height: $size2;
            }
            .page-link-last {
                width: 80px;
                height: $size2;
                line-height: $size2;
            }
        }
    }
}