.box-common-partner-carousel-wrapper {

    .box-common-partner-carousel {
        .splide__slide {
            border: 1px solid $borderf3f3f3;
            padding: $size1 $size2;
            display: flex;
            align-items: center;

            img {
                max-width: 100%;
                height: auto;
                transition: transform 400ms;
            }

            &:hover {
                border-color: $borderGreen;

                img {
                    transform: scale(1.1);
                }
            }
        }
        .splide__arrows {
            display: none;
        }

        .splide__pagination {
            bottom: -2.5rem;
            li {
                button {
                    background-color: transparent;
                    border: 1px solid $borderGreen;
                }
                .is-active {
                    background-color: $backgroundGreen;
                }
            }
        }
    }
}