#home-page {
    .section-intro-wrapper {
        margin-top: $size100;

        .section-intro {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            &__picture {
                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            &__title {
                color: $textGreen;
                font-size: $font-size40;
                font-family: $iCiel-SamsungSharpSans-Bold_SMCPS;
            }

            .info-contact {
                margin-top: $size0_625;
                padding-left: 0;
                font-size: $font-size20;

                &__item {
                    display: inline-block;
                    margin-right: $size0_625;
                    margin-bottom: $size0_313;
                    padding: $size0_438 $size0_625;
                    border: 1px solid $borderGreen;

                    &:last-child {
                        margin-right: 0;
                    }

                    ._char:last-child {
                        display: none;
                    }
                }

                &__link {
                    height: 100%;
                    width: 100%;
                    color: $textNight;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }

        .splide {
            &__arrows {
                position: absolute;
                bottom: $font-size20;
                left: $size1_5;
                .splide__arrow {
                    top: 0;
                    left: 0;
                    right: 0;
                    transform: translateY(0);

                    &--prev {
                        display: none;
                    }
                    &--next {
                        background-color: transparent;
                        position: relative;
                        &:hover {
                            &::before {
                                color: $textGreen;
                            }
                        }

                        svg {
                            display: none;
                        }

                        &::before {
                            position: absolute;
                            content: "\f175";
                            font-family: "Font Awesome 5 Pro";
                            top: 0;
                            left: 0;
                            width: 100%;
                            color: $textWhite;
                            font-size: $size1_5625;
                        }
                    }
                }
            }

            &__pagination {
                justify-content: end;
                margin-left: $size2;
                width: max-content;
                left: 2.5%;
                transform: translateX(0);
                @media (max-width: 992px) {
                    margin-left: $size3;
                }
                bottom: $size1_5;

                &__page {
                    background-color: transparent;
                    border: 2px solid $backgroundWhite;

                    &:hover {
                        transform: scale(1.4);
                        background: $backgroundGreen;
                        border-color: $borderGreen;
                    }
                }

                &__page.is-active {
                    transform: scale(1.4);
                    background: $backgroundGreen;
                    border-color: $borderGreen;
                }

                li {
                    margin-right: $size0_5;
                }
            }

            &__slider {
                img {
                    max-width: 100%;
                }
            }
        }

        .intro-slider {
            position: relative;

            .slider-bg {
                position: absolute;
                height: 50%;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: $backgroundf3f3f3;
            }
        }
    }

    .section-aboutus-wrapper {
        background-color: $backgroundf3f3f3;
        .section-aboutus {
            &__line__des {
                font-weight: bold;
                font-size: $font-size20;
            }
        }
    }

    .section-ourproduct-wrapper {
        background-color: $backgroundf3f3f3;
        .section-ourproduct {
            .section-ourproduct__left {
                width: 100%;

                img {
                    max-width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .section-ourproduct__right {
                color: $textWhite;
                background-color: $backgroundGreen;
                padding: $size3_75;
                @media (max-width: 567px) {
                    padding: $font-size20;
                }

                .__header {
                    margin-bottom: $font-size40;
                    .__title {
                        color: $textWhite;
                    }

                    .__des {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .section-news-wrapper {
        background-color: $backgroundf3f3f3;
    }

    .section-news {
        &__content {
            .col-core {
                &__img {
                    max-width: 100%;
                }

                &__content {
                    &__title {
                        font-size: $font-size18;
                        margin-bottom: 0;

                        a {
                            color: $textNight;
                            text-decoration: none;
                            font-weight: bold;
                            @include split_str(1);
                        }

                        a:hover {
                            font-weight: bold;
                        }
                    }

                    &__time {
                        font-size: $size0_9375;
                        margin-top: $size0_625;
                        margin-bottom: $size0_625;
                        color: rgba($color: $textNight, $alpha: 0.5);
                    }

                    &__des,
                    p {
                        font-size: $size1;
                        margin-bottom: 0;
                        @media (min-width: 1200px) {
                            @include split_str(3);
                        }
                        @include split_str(2);

                        @media (max-width: 567px) {
                            @include split_str(2);
                        }
                    }
                }

                &__box__img {
                    &__img {
                    }
                }
            }

            .col-big {
                position: relative;
                overflow: hidden;

                .col-core__content {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba($backgroundGreen, $alpha0_7);
                    padding: $size0_9375;
                    color: $textWhite;

                    &__time {
                        color: $textWhite !important;
                    }

                    &__des {
                        transition: transform 400ms;

                        &:hover {
                            transform: scale(1.04);
                        }
                    }

                    a {
                        color: $textWhite;
                        text-decoration: none;
                    }
                }

                .img,img {
                    transition: transform 400ms;

                    &:hover {
                        transform: scale(1.04);
                    }
                }
            }

            .box-news-main {
                .col-flex-box {
                    display: flex;
                    margin-bottom: $font-size20;

                    .col-core {
                        &__box__img {
                            flex: 0 0 41.6666666667%;
                            max-width: 41.6666666667%;
                            padding-right: 15px;
                            transition: transform 400ms;

                            &:hover {
                                transform: scale(1.05);
                            }
                        }

                        &__content {
                            flex: 0 0 58.3333333333%;
                            max-width: 58.3333333333%;
                            padding-left: 15px;

                            &__des {
                                transition: transform 400ms;
                                word-wrap: break-word;

                                &:hover {
                                    transform: scale(1.05);
                                }
                            }
                        }
                    }
                }

                > div:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

#mask {
    position:fixed;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
    width: 100%;
    height: 100%; 
    display: none; 
    opacity: 0.8;
  }  
  #boxes .window {
    position:fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:440px;
    height:100vh;
    display:none;
    z-index:9999;
    padding:20px;
    border-radius: 15px;
    text-align: center;

    #lorem {
        position: absolute;
        left: 50%;
        width: 100%;
        top:50%;
        transform: translate(-50%, -50%);
    }
  }
  #boxes #dialog {
    width: 40%;
    @media(max-width: 567px) {
        width: 80%;
    }
    padding:10px;
    font-family: 'Segoe UI Light', sans-serif;
    font-size: 15pt;
  }
  
  button.close.popup {
      position: absolute;
      top: 10px;
      left: 15px;
  }
  
  button.close.popup i {
      font-size: 25px;
  }

#map-canvas {
    width: 100%;
    height: 400px;
}
/***
*************** Responsive
****/
@mixin home-screen-minw1681() {
    #home-page {
        .section-ourproduct-wrapper {
            padding-top: $size4;
        }
        .box-common-typeicalproject-carousel-wrapper {
            .box-common-typeicalproject-carousel {
                .splide {
                    &__slide {
                        &__content {
                            &__title {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@mixin home-screen-maxw1680() {
    #home-page {
        .section-ourproduct-wrapper {
            padding-top: $size3;
        }
    }
}

//screen min-width 1200
@mixin home-screen-minw1200() {
}

//screen max-width 1200
@mixin home-screen-maxw1200() {
}

//screen max-width 992
@mixin home-screen-maxw992() {
    #home-page {
        .section-intro-wrapper {
            margin-top: $size5;

            .section-intro {
                &__title {
                    font-size: $font-size30;
                }
            }
        }
    }
}

//screen max-width 768
@mixin home-screen-maxw768() {
    #home-page {
        .section-intro-wrapper {
            margin-top: $size4_285;
        }
    }
}

//screen max-width 567
@mixin home-screen-maxw567() {
    #home-page {
        .section-intro-wrapper {
            margin-top: $size2_875;
            .section-intro {
                &__title {
                    font-size: $size1_5;
                }
            }
        }
    }
}
