#product-details-page {

    .section-product-info-wrapper {

        .section-product-info {

            .box-content {

                &__bottom {

                    .__bottom__line__one {
                        color: $textGreen;
                        margin-bottom: $size1;
                    }

                    .__bottom__line__two {    
                        margin-bottom: $size1;
                    }

                    
                }
            }
        }
    }

    .section-product-more-info-wrapper {
        background-color: $backgroundf3f3f3;

        .section-our-policy-wrapper {
            background-color: $backgroundWhite;
            padding-left: $size1;
            padding-right: $size1;

            .section-our-policy {
                padding-top: $size2;
                padding-bottom: $size1;
            }
        }
    }

    .section-production-process-wrapper {

        img {
            max-width: 100%;
        }

        .section-production-process {
            border-bottom: 1px solid $borderf3f3f3;
            .box__btn {
                @media (min-width: 1681px) {
                    margin-top: calc(#{$size9} + #{$size2} + 10px);
                }
                margin-top: calc(#{$size9} + #{$size2} + 10px);

                @media (max-width: 768px) {
                    margin-top: $size2;
                }
            }
        }
    }

    .box__btn {

        button {
            width: calc(#{$size5} + #{$size5});
            padding-top: $size0_625;
            padding-bottom: $size0_625;
            i {
                margin-right: $size0_625;
            }
        }

        .btn-order {
            background-color: $backgroundGreen;
            color: $textWhite;
            outline: none;
            border: 1px solid $borderGreen;
            margin-right: $size0_625;

            &:hover {
                background-color: $backgroundWhite;
                border: 1px solid $borderGreen;
                color: $textGreen;
            }
        }

        .btn-quote {
            border: 1px solid $border84cba5;
            outline: none;
            color: $textco8b8b8b;

            &:hover {
                color: #efefef;
                background-color: $textco8b8b8b;
            }
        }
    }

    #orderModal {
        
        .modal-dialog {
            max-width: 60%;

            @media (max-width: 767px) {
                max-width: 70%;
            }

            @media (max-width: 567px) {
                max-width: 90%;
            }
            
            .form-control {
                height: auto;
                padding: $size0_25 $size0_625;
                border-radius: 3px;
            }
        }
    }

    #successModal {
        .modal-dialog {
            max-width: 60%;

            @media (max-width: 767px) {
                max-width: 70%;
            }

            @media (max-width: 567px) {
                max-width: 90%;
            }
            
            .modal-content {
                border: none;
                border-radius: none;

                .col-body {
                    
                    position: relative;

                    .bg-md-image {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: -1;
                    }
                   
                    .col-content {
                        .icon-success {
                            i {
                                font-size: $size3_75;
                                color: $textGreen;
                            }
                        }
            
                        .read-more {
                            padding: $size0_625 $size1;
                            background-color: $backgroundGreen;
                            color: $textWhite;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #product-details-page {

        #orderModal {
            
            .modal-dialog {
                margin: 1.75rem auto;
                height: calc(100vh - 100px);
    
                .position {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }

                .col-right {
                    background-color: rgba($color: #000000, $alpha: $alpha0_3);
                }

                .theme-customize-header-section__header {
                    &__title {
                        color: #09e06d;
                    }
                    &__des {
                        color: $textWhite;
                    }
                }
            }
        }

        #successModal {
            .modal-dialog {
                
                .modal-content {
    
                    .modal-body {
                        position: relative;
                        .position {
                            clip-path: circle(40.2% at 83% 4%);


                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                        }

                        .col-body {
                            box-shadow: 2px 2px 1px 1px #f0f0f0;
                        }
                    }
                }
            }
        }
    }
}