#teachnological-line-page {
    .section-teachnological-line-list-wrapper {
        .section-teachnological {
            &__row {
                display: flex;
                padding-top: $size3_5;
                padding-bottom: $size3_5;
                flex-wrap: wrap;
                @media (max-width: 768px) {
                    padding-bottom: $size1_5;
                }

                &__col {
                    flex: 0 0 50%;
                    max-width: 50%;

                    @media (max-width: 575px) {
                        flex: 0 0 100%;
                        max-width: 100%;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }

                &__col.__content {
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-between;
                    padding-top: $size2_1875;
                    @media (max-width: 768px) {
                        padding-top: 0;
                    }
                    .__content__title {
                        font-size: $size1_5625;
                        color: $textGreen;
                        font-weight: bold;
                        @include split_str(1);
                    }
                }

                &__col.__picture {
                    img {
                        max-width: 100%;
                    }
                }
            }
            &__list {
                >div:nth-child(even) {
                    .section-teachnological__row {
                        &__col.__content {
                            order: 2;
                        }
                        &__col.__picture {
                            order: 1;
                        }
                    }

                    @media (min-width: 576px) {
                        .__content {
                            padding-right: 16%;
                            padding-left: $size3;
                            @media (max-width: 1680px) {
                                padding-right: 10%;
                            }
                            @media (max-width: 992px) {
                                padding-right: 8%;
                            }
                            @media (max-width: 768px) {
                                padding-right: 15px;
                            }
                        }

                        .__picture {
                            padding-left: 5%;
                        }
                    }
                }

                >div:nth-child(odd) {

                    @media (min-width: 576px) {
                        .__content {
                            padding-left: 16%;
                            padding-right: $size3;
                            @media (max-width: 1680px) {
                                padding-left: 10%;
                            }
                            @media (max-width: 992px) {
                                padding-left: 8%;
                            }
                            @media (max-width: 768px) {
                                padding-left: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal.dccn {
    .modal-dialog {
        max-width: 60%;

        @media(max-width: 992px) {
            max-width: 70%;
            margin: 1.75rem auto;
        }

        @media(max-width: 576px) {
            max-width: 80%;
        }

        .modal-header {
            padding-top: 0;
            border: 0;

            .close {
                transform: translateY(-.5rem);
            }
        }

        .modal-content {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            border-radius: none;

            table {
                th, td {
                    padding-left: 1.5rem;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border: 1px solid $borderd2b0b0;
                }

                th {
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                }
            }
        }
    }
}