#warranty-policy-page {
   
    #accordion {
        margin-left: -$size2;
        margin-right: -$size2;
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }

        .outer-shell {
            @media (min-width: 768px) {
                flex: 0 0 50%;
                max-width: 50%;
            }

            margin-bottom: $size1_5;
            padding-left: $size2;
            padding-right: $size2;
            .card {
                .card-header {
                    padding: $size0_5 $size1;
                    h5 {
                        button {
                            padding: 0;
                            box-shadow: none;
                            text-decoration: none;
                            color: $textNight;
                            display: block;
                            width: 100%;
                            text-align: left;
                            font-size: $size1_25;
                            position: relative;
                        }

                        button::after {
                            position: absolute;
                            content: "\f0d7";
                            font-family: "Font Awesome 5 Pro";
                            font-weight: bold;
                            top: 0;
                            right: 0;
                            color: $text84cba5;
                        }

                        button:not(.collapsed)::after {
                            content: "\f0de";
                            color: rgb(238, 67, 67);
                        }
                    }
                }
            }
        }
    }
}

