footer {
    border-top: 1px solid #f3f3f3;

    @media(min-width: 1681px) {
        font-size: $font-size15;
    }
    font-size: $size0_9375;
    .footer-wrapper {
        .footer {
            &__top {
                padding-top: $size3_75;
                padding-bottom: $size3_75;
                .footer__col {
                    &__title {}
                    &__list {
                        list-style: none;
                        padding-left: 0;
                        li {
                            a {
                                text-decoration: none;
                                color: $textNight;
                            }
                            margin-bottom: $size0_625;
                        }
                    }
                    &__list--icon {
                        .__item__icon {
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            margin-right: 10px;
                            img {
                                max-width: 100%;
                                height: auto;
                            }
                        }
                    }
                    &__list__icon {
                        border-top: 1px solid $borderf3f3f3;
                        border-bottom: 1px solid $borderf3f3f3;
                        padding: $size1 0;
                        display: flex;
                        flex-wrap: wrap;

                        img {
                            height: 45px;
                            width: auto;

                            @media (max-width: 1300px) {
                                height: 40px;
                            }
                            @media (max-width: 992px) {
                                height: 35px;
                            }

                            @media (max-width: 368px) {
                                height: 25px;
                            }
                        }

                        a:nth-child(1) {
                            max-width: 20%;
                            padding-right: 5px;
                        }

                        a:nth-child(2) {
                            max-width: 20%;
                            padding-left: 5px;
                            padding-right: 5px;
                        }

                        a:nth-child(3) {
                            max-width: 15%;
                            padding-left: 5px;
                        }

                        a:last-child{
                            flex-grow: 1;
                            text-align: right;
                        }
                    }
                }
            }
            &__bottom {
                p {
                    padding-left: 17%;
                }
            }
        }
    }
}