.form-sign-up-wrapper {
    background-color: $mainColor;
    .newsletter_title {
        h3 {
            font-size: $font-size20;
            margin-left: $font-size30;
            max-width: 70%;
            margin-bottom: unset;
            font-family: $iCiel-SamsungSharpSans-Bold_SMCPS;
            color: $white;
        }
    }
    .newsletter_text {
        border-right: 3px solid $a19A51;
        p {
            margin-bottom: 0;
            color: $white;
            margin-left: -$size0_375;
        }
    }
    .newsletter_form {
        .form-control {
            opacity: 20%;
            // display: inline;
        }
        button {
            cursor: pointer;
            background: none;
            border: none;
            outline: none;
            padding-left: 4%;
            align-self: center;
            max-width: 100%;
            display: block;
        }
        .btn-icon-submit::before {
            position: absolute;
            content: "\f0e0";
            font-family: "Font Awesome 5 Pro";
            top: 0;
            right: $size1_5;
            color: $textWhite;
            opacity: 50%;
            font-size: $size1_5625;
        }
    }
    .newsletter_img {
        img {
            min-height: 150px;
            max-width: 100%;
        }
    }
}

@media screen and (max-width:768px) and (min-width:575px) {
    .form-sign-up-wrapper {
        text-align: center;
        .newsletter_title {
            h3 {
                margin: $size1 0;
                max-width: unset;
            }
        }
        .newsletter_text {
            p {
                margin-bottom: $size1;
            }
        }
        .newsletter_form {
            .form-control {
                margin-left: $size3_125;
            }
            .btn-icon-submit::before {
                right: -$size1_5;
            }
        }
        .newsletter_img {
            img {
                min-height: 100px;
                max-width: 80%;
                float: right;
            }
        }
    }
}

@media screen and (max-width:576px) {
    .form-sign-up-wrapper {
        text-align: center;
        .newsletter_title {
            h3 {
                margin: $size1 0;
                max-width: unset;
            }
        }
        .newsletter_text {
            padding-left: $size0_9375;
            p {
                margin-bottom: $size1;
                padding: 0 $size1;
            }
        }
        .newsletter_form {
            padding: 0 $size1;
            .btn-icon-submit::before {
                right: $size3;
            }
        }
        .newsletter_img {
            img {
                margin-top: $size1;
                width: 100%;
            }
        }
    }
}