#sidebar-main {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: $size4_0625;
    background-color: $backgroundGreen;
    z-index: 1000;

    .box-center {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);

        .box__item {
            background: transparent;
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            width: max-content;
            padding-top: $size0_625;
            padding-bottom: $size0_625;
            border-top: 1px solid $border84cba5;
            color: $text84cba5;
            transition: all 400ms cubic-bezier(0.62, 0.1, 0.5, 1);
            background-color: $backgroundGreen;
            padding-left: 0;
            position: relative;

            &__icon {
                font-size: $size1_5625;
                width: $size4_0625;
                display: inline-block;
                color: $text84cba5;
                height: 35px;
                line-height: 35px;
            }
            &__icon.language_current {
                font-size: $size1;
                font-weight: bold;
            }

            .text {
                font-size: $size1;
                color: $text84cba5;
            }

            &__text {
                font-weight: bold;
                width: $size4_0625;
                display: inline-block;
                font-size: $font-size20;
            }

            &__content {
                display: inline-block;

                a {
                    font-size: $font-size18;
                    font-weight: bold;
                    color: $textWhite;
                    text-decoration: none;
                }
                .char_:last-child {
                    display: none;
                }
                
                span.text-top {
                    display: block;
                    font-size: $size0_8125;
                }
            }

            &:hover {
                color: $textWhite;
                transform: translateX(calc(-100% + #{$size3_125}));

                a,i,span {
                    color: $textWhite;
                }
            }

            ._char:last-child {
                display: none;
            }
        }

        .box__item.back-top {
            display: block;
            opacity: 0;
            visibility: hidden;

            .box__item__icon {
                font-size: $font-size20;
            }
        }

        .box__item.back-top.show {
            opacity: 1;
            visibility: visible;
        }

        .button-zalo {
            .zalocode {
                position: absolute;
                left: 0;
                top: 0;
                transform: translateX(-120%);
                width: 150px;
                box-shadow: 0 0 18px rgb(0 0 0 / 20%);
                display: none;

                .icon-close {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    color: black;
                }

                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            &:hover {
                transform: translateX(0);
            }
        }
    }
}