
#home-page {
    .section-intro-wrapper {
        margin-top: calc(#{$size3_75} + #{$size3_75});

        .section-intro {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            &__picture {
                img { max-width: 100%; height: auto; }
            }

            &__title {
                color: $textGreen;
                font-weight: bold;
                font-size: $size2_5;
                font-family: $Barlow-Black;
            }

            .info-contact {
                margin-top: $size0_625;
                padding-left: 0;
                &__item {
                    display: inline-block;
                    margin-right: $size0_625;
                    margin-bottom: $size0_313;
                    padding: $size0_438 $size0_625;
                    border: 1px solid $borderGreen;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                &__link {
                    height: 100%;
                    width: 100%;
                    color: $textNight;
                    text-decoration: none;
                }
            }
        }

        .splide {
            &__arrows {
                position: absolute;
                bottom: $size1_25;
                left: $size1_5;
                .splide__arrow {
                    top: 0;
                    left: 0;
                    right: 0;
                    transform: translateY(0);
                    
                    &--prev {
                        display: none;
                    }
                    &--next {
                        background-color: transparent;
                        position: relative;

                        svg {
                            display: none;
                        }

                        &::before {
                            position: absolute;
                            content: "\f149";
                            font-family: "Font Awesome 5 Pro";
                            top: 0;
                            left: 0;
                            width: 100%;
                            color: $textWhite;
                            font-size: $size1_5625;
                        }
                    }
                }
            }

            &__pagination {
                justify-content: end;
                margin-left: $size2;
                bottom: $size1_5;

                &__page {
                    background-color: transparent;
                    border: 2px solid $backgroundWhite;
                }

                &__page.is-active{
                    transform: scale(1.4);
                    background: $backgroundWhite;
                }

                li {
                    margin-right: $size0_5;
                }
            }

            &__slider {
                img {
                    max-width: 100%;
                }
            }
        }
    }

    .section-aboutus-wrapper {

        .section-aboutus {
            &__line__des {
                font-weight: bold;
            }
        }
    }

    .section-ourproduct-wrapper {

        .section-ourproduct{
            .section-ourproduct__left {
                width: 100%;

                img {
                    max-width: 100%;
                }
            }
            .section-ourproduct__right {
                color: $textWhite;
                background-color: $backgroundGreen;
                padding: $size3_75;
                @media (max-width: 567px) {
                    padding: $size1_25;
                }

                .__header {
                    margin-bottom: $size2_5;
                    .__title {
                        color: $textWhite;
                    }

                    .__des {
                        margin-bottom: 0;
                    }
                }

                .list-cate-pro {
                    padding-left: 0;
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    margin-bottom: 0;

                    &__item {
                        flex: 0 0 calc(50% - #{$size0_625});
                        max-width: calc(50% - #{$size0_625});
                        padding: $size0_625 0;
                        border-bottom: 1px solid $borderf3f3f3;

                        &:nth-child(odd) {
                            margin-right: $size0_625;
                        }
                        &:nth-child(even) {
                            margin-left: $size0_625;
                        }
                    }

                    &__link {
                        color: $textWhite;
                        text-decoration: none;
                    }

                    &__link.active{
                        position: relative;
                        padding-left: $size1_25;

                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            background-color: $backgroundWhite;
                            width: $size0_625;
                            height: $size0_125;
                        }
                    }
                }
            }
        }
    }

    .section-producecapacity-wrapper {
        background-color: $backgroundf3f3f3;
        .section-producecapacity {

            &__list {
                padding-left: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 0;

                &__item {
                    position: relative;
                    padding-top: $size0_625;
                    margin-top: $size0_625;
                    flex: 0 0 calc(50% - #{$size0_625});
                    max-width: calc(50% - #{$size0_625});
                    
                    &::before {
                        content: "";
                        position: absolute;
                        width: $size0_625;
                        height: $size0_125;
                        background-color: red;
                        top: 0;
                        left: 0;
                    }

                    &:nth-child(odd) {
                        margin-right: $size0_625
                    }
                    &:nth-child(even) {
                        margin-left: $size0_625
                    }
                }
            }
        }
    }

    .section-showroom-wrapper {
        background-color: $backgroundf3f3f3;

        .section-showroom {

            &__content {

                .box__tabs {

                    &__header {
                        margin-right: $size2_5;

                        .nav-link.active {
                            background-color: transparent;
                            border: none;
                            border-bottom: 2px solid $borderGreen;
                            color: $textGreen;
                        }
                        
                    }

                    &__content {
                        background-color: $backgroundWhite;
                        padding-right: $size1_25;
                        padding-bottom: $size1_25;
                        padding-left: $size2_5;
                        padding-top: $size2_5;
                        position: relative;

                        .btn-read-more {
                            padding-right: $size0_9375;
                            background-color: $backgroundGreen;
                            color: $textWhite;
                            text-decoration: none;
                            font-size: $size0_8125;
                            position: absolute;
                            right: $size0_9375;
                            bottom: 0;
                            height: $size1_5625;
                            line-height: $size1_5625;
                            transform: translateY(50%);

                            &::before {
                                position: absolute;
                                content: '\f0d7';
                                font-family: "Font Awesome 5 Pro";
                                right: $size0_438;
                            }
                        }

                        .tab-pane {
                            >div:first-child {
                                padding-top: 0;
                            }
                        }
                    }
                }

                .line__item {
                    padding-top: $size1_5625;
                    padding-bottom: $size1_5625;
                    border-bottom: 1px solid $borderf3f3f3;

                    .address {
                        position: relative;
                        padding-left: $size1_5625;
                        &::before {
                            position: absolute;
                            content: "\f3c5";
                            color: $textGreen;
                            font-family: "Font Awesome 5 Pro";
                            left: 0;
                            right: 0;
                        }
                    }
                    .phone {
                        position: relative;
                        padding-left: $size1_5625;
                        &::before {
                            position: absolute;
                            content: "\f879";
                            color: $textGreen;
                            font-family: "Font Awesome 5 Pro";
                            left: 0;
                            right: 0;
                        }
                    }

                    .phone.white, .address.white {
                        &::before {
                            color: $textWhite;
                        }
                    }
                }

                .box__infoOther {
                    margin-top: $size2_625;
                    padding: $size1_25;
                    padding-top: $size1_5625;
                    background-color: $backgroundGreen;
                    color: $textWhite;
                    height: calc(100% - #{$size2_5});

                    &__header {
    
                        &__title {
                            font-size: $size1_875;
                        }
    
                        &__des {
                            @include split_str(2);
                        }
                    }

                    &__list {
                        >div:first-child {
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }

    .section-news-wrapper {
        background-color: $backgroundf3f3f3;
    }

    .section-news {

        &__content {

            .col-core {

                &__img {
                    max-width: 100%;
                }

                &__content {
                    
                    &__title {
                        font-size: $size1_125;
                        margin-bottom: 0;

                        a {
                            color: $textNight;
                            text-decoration: none;
                        }
                    }

                    &__time {
                        font-size: $size0_9375;
                        margin-top: $size0_625;
                        margin-bottom: $size0_625;
                    }

                    &__des,p {
                        @include split_str(3);
                        font-size: $size1;
                        margin-bottom: 0;
                    }
                }

                &__box__img {

                    &__img {

                    }
                }
            }

            .col-big {
                position: relative;

                .col-core__content {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba($backgroundGreen, $alpha0_7);
                    padding: $size0_9375;
                    
                    a {
                        color: $textWhite;
                        text-decoration: none;
                    }
                }
            }

            .box-news-main {
                .col-flex-box {
                    display: flex;
                    margin-bottom: $size1_25;
    
                    .col-core {
                        &__box__img {
                            flex: 0 0 41.6666666667%;
                            max-width: 41.6666666667%;
                            padding-right: 15px;
                        }
    
                        &__content {
                            flex: 0 0 58.3333333333%;
                            max-width: 58.3333333333%;
                            padding-left: 15px;
                        }
                    }
                }

                >div:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
/***
*************** Responsive
****/
@mixin home-screen-minw1600() {
    #home-page {

        .section-ourproduct-wrapper {
            margin-top: $size4;
        }

        .section-intro-wrapper {
            margin-top: $size7_5;
        }

        .box-common-typeicalproject-carousel-wrapper {
        
            .box-common-typeicalproject-carousel {
    
                .splide {
                    &__slide {
        
                        &__content {
    
                            &__title {
                                font-size: 20px;
                            }
                        }
                    } 
                }
            }
        }
    }
    
}

@mixin home-screen-maxw1600() {
    #home-page {
        .section-ourproduct-wrapper {
            margin-top: $size3;
        }

        .section-intro-wrapper {
            margin-top: calc(#{$size3_125} + #{$size3_125});
        }
    }
}

//screen min-width 1200
@mixin home-screen-minw1200() {
  
}

//screen max-width 1200
@mixin home-screen-maxw1200() {
    
}

//screen max-width 992
@mixin home-screen-maxw992() {
    #home-page {
        .section-intro-wrapper {
            margin-top: calc(#{$size2_5} + #{$size2_5});
        }
    }
}

//screen max-width 768
@mixin home-screen-maxw768() {
    #home-page {
        .section-intro-wrapper {
            margin-top: $size3_75;
        }
    }
}

//screen max-width 567
@mixin home-screen-maxw567() {
    
}
