#news-detail-page {
    .news__detail__wrapper {
        margin-top: $size4;
        .content__zone {
            .left {
                .content__title {
                    .title {
                        font-family: unset;
                        color: $night;
                    }
                }
                .time {
                    opacity: 50%;
                }
                .post-content {
                    font-family: $Barlow-Medium;
                }
                .share {
                    display: flex;
                    align-items: center;
                    padding: 20px 0;
                    border-top: solid 1px #d8d9d9;
                    border-bottom: solid 1px #d8d9d9;
                    margin: 35px 0;
                    .share-text {
                        margin-right: 15px;
                    }
                    .list-share {
                        display: flex;
                        .share-item {
                            margin-right: 5px;
                            list-style: none;
                        }
                    }
                }
                .info-contact {
                    padding: $size1;
                    border: $size0_063 solid $mainColor;
                    text-align: center;
                    p {
                        margin-bottom: unset;
                    }
                }
                .other__post {
                    .title {
                        font-size: $size1_25;
                        margin-top: $size1_5;
                    }
                    .list__post {
                        margin-bottom: $size3;
                        .post-item {
                            margin-bottom: $size0_313;
                        }
                    }
                }
            }
            .right {
                padding-left: $size3_125;
                .releted__post {
                    .list-post-related {
                        .news__item {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}