.project-wrapper {
    margin-top: $size3;
    .project {
        &__link {
            display: block;
            color: $night;
            img {
                max-width: 100%;
            }
        }
        &__title {
            margin-top: $size1_5;
            margin-bottom: $size0_5;
            @include split_str(2);
            font-family: $Barlow-Medium;
            &:hover {
                color: $mainColor;
            }
        }
        &__content {
            @include split_str(3);
            margin-bottom: $size1_5;
        }
    }
}

@media screen and (max-width:576px) {
    .project-wrapper {
        .project {
            &__link {
                img {
                    width: 100%;
                }
            }
            &__title {
                margin-top: $size1;
                margin-bottom: unset;
            }
        }
    }
}

.nav-link {
    display: unset;
    padding: unset;
}

.nav-tabs .nav-link {
    margin-bottom: unset;
    border: unset;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

.nav-tabs .nav-link.active {
    background-color: unset;
    border-color: unset;
}

.nav-tabs {
    border-bottom: unset;
}