#news-page {
    .section-banner-wrapper {
        .section-banner-news {
            .theme-customize-header-section__header {
                padding-bottom: $size1_5;
                &__title {
                    margin-bottom: 0;
                    text-transform: capitalize;
                }
            }
        }
    }
    .news-wrapper {
        margin-top: $size3;
        .news-wrapper-section {
            padding-bottom: $size3;
            @media screen and (max-width: 992px) {
                padding: 0;
            }
            border-bottom: 1px solid $f3f3f3;
            .news-post {
                max-width: 400px;
                &__title {
                    margin-top: $size1_5;
                    margin-bottom: $size0_5;
                    @include split_str(2);
                    font-family: $Barlow-Medium;
                    &:hover {
                        color: $mainColor;
                    }
                }
                &__time {
                    opacity: 50%;
                    font-size: $size0_9375;
                    margin-bottom: $size0_9375;
                }
                &__content {
                    @include split_str(4);
                }
                a {
                    color: $night;
                    display: block;
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
    .section-news-list {
        h2 {
            margin: $size3_125 0;
            @media screen and (max-width: 992px) {
                margin: $size2_5 0;
                text-transform: capitalize;
            }
        }
        .list-news-wrapper {
            .item-row {
                h5 {
                    font-size: $size1_125;
                    margin-bottom: $size0_6875;
                    @include split_str(1);
                }
                .time {
                    opacity: 50%;
                    font-size: $size0_9375;
                    margin-bottom: $size0_9375;
                }
                .content {
                    font-size: $size1;
                    @include split_str(3);
                }
                img {
                    @media screen and (max-width: 992px) {
                        width: 100%;
                    }
                    @media screen and (max-width: 576px) {
                        padding-right: $size0_9375;
                    }
                }
            }
        }
    }
}

//responsive
@media screen and (max-width:576px) {
    #news-page {
        .news-wrapper {
            .news-wrapper-section {
                .news-post {
                    max-width: unset;
                    a {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}